.header-background {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/frontend_assets/header_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
